  <div class="drivers-info">
    <h2>lets'go.Bring everyone to
      </br>heaven with your handle.</h2>
    <%= video_tag 'Pexels Videos 1572547.mp4', :autoplay => true,:muted => true,:loop => true %>
    <form class="col s12">
      <div class="drivers-info-row">
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2"><span>First Name</span></label>
        </div>

        <div class="input-field col s12">
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2"><span>profile</span></label>
        </div>
      </div>
    </form>

    <div class = "check-boxes">
      <%= check_box_tag :test1%>
      <%= label_tag :test1, "pets okay?", class: "question" %>
      <%= check_box_tag :test2 %>
      <%= label_tag :test2, "smoking okay?", class: "question"%>
      <%= check_box_tag :test3 %>
      <%= label_tag :test3, "eating okay?", class: "question" %>
    </div>
  </div>
  <>

